<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>

<h1>What are your bank details?</h1>
<p>If you need to find your bank account number, you'll typically be able to see it on bank statements and on your online or app banking.
    Most banks also print the bank account number on the front or back of your bank card.</p>

<p>A bank is a financial institution that is licensed to accept checking and savings deposits and make loans.
    Banks also provide related services such as individual retirement accounts (IRAs),
    certificates of deposit (CDs), currency exchange, and safe deposit boxes.</p>
</body>

</html>
     <button> <a href="{% url 'dummyyapp:dummyy' %}"  class="btn btn-secondary">Home</a></button>

<!--<div class="card-body">-->
<!--    <h5 class="card-title">{{i.name}}</h5>-->
<!--    <p class="card-text">{{i.desc}}</p>-->
      <button><a href="{% url 'formsapp:form'  %}" class="btn btn-primary">Register</a></button>
<!--  </div>-->